hr.solid {
    border: 4px solid #000000;
    max-width: 100px;
    width: 100%;
    max-height: 8px;
    height: 100%;
    left: 0;
    margin: 0px 20px 0px 0px;
}

.whos-using__section {
    padding-top: 150px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font: 36px 'Roboto-600', sans-serif;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 40px;
}
