html{
    scroll-padding-top: 145px;
}


body {
    padding: 8px 8.3% 90px;
    background-image: url(../images/bg-picture.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 150px;
}


.section-name {
    display: flex;
    margin-bottom: 40px;
}

.chapter {
    margin-bottom: 70px;
}

.chapter:last-child {
    margin-bottom: 0px;
}

.chapter-text {
    margin-bottom: 40px;
}

.chapter-text:last-child {
    margin-bottom: 0px;
}

li:hover {
    cursor: grab;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.underline-text {
    text-decoration: underline;
}

